<h1>Welcome to Use Product Manager</h1>
<h2>Introduction</h2>
<p>With this simple web application, you can manage the products and product types.<br/>
To manage products, please click the Products link. To manage product types, please click the Types link.</p>